{% extends 'layout.html' %} {% block body %}


<h1 align='center'><strong> Support a Farmer - Donate for a good cause</strong></h1>
<hr>
<br>
<br>
<br>
<h5><strong>We seek to help small farmers and their families in rural areas in India, by enhancing their livelihood and improving their food and nutritional intake. In this project, farmers will be supported with high quality seeds, setup fruit orchids and vegetable plantation and capacity building trainings in agricultural techniques. The project will also work on increasing availability of water for irrigation by constructing and repairing Water Harvesting Structures.</strong></h5>

<br>

<a align='center' href="https://docs.google.com/forms/d/1b7TjqJ2EZimd1896sawipYWMQdZ5jNjEPYeu_Nu9mWI/edit">Donate</a>

<br>
<br>
<br>

<br>
<br>
<br>






<br>
<br>
<br>


{% endblock %}
